.nav-content {
 background-color: #5047B3;
 display: flex;
}

.nav-link {
 display: block;
 width: 50%;
 text-align: center;
 color: #AEEFDC;
}

header {
 background-image: url("/assets/images/netflix_landingpage.jpg");
 background-size: cover;
 background-color: #5047B3;
 background-position: center center;
}

h1 {
 font-family: 'Quicksand', sans-serif;
}

h3 {
 font-family: 'Crete Round', serif;
}

a {
 font-family: 'Crete Round', serif;
 /*text-align: center;*/
}

.leader {
 font-family: 'Quicksand', sans-serif;
}

p {
 font-family: 'Quicksand', sans-serif;
 color: #5047B3;
}

.content-wrapper {
 background-color: #5047B3;
}

.read-more {
 color: #5047B3;
}

.title-main {
 color: #5047B3;
}

.sub-main {
 color: #AEEFDC;
 font-family: 'Crete Round', serif;
 text-shadow: 0px 0px 8px #000000;
}


.sub {
 color: #928ADF;
 font-family: 'Crete Round', serif;
}
