.nav-content {
 display: flex;
}

.nav-link {
 display: block;
 width: 50%;
}

header {
 background-image: url("/assets/images/netflix_landingpage.jpg");
 background-size: cover;
 background-color: #5047B3;
 background-position: center center;
}

h1 {
 font-family: 'Quicksand', sans-serif;
}

a {
 font-family: 'Crete Round', serif;
}

.leader {
 font-family: 'Crete Round', serif;
}
