.nav-content {
 display: flex;
 background-color: #5047B3;
 font-family: "Crete Round", serif;
}

.nav-link {
 display: block;
 width: 50%;
 color: #AEEFDC;
}

.posts {
 font-family: "Times New Roman", serif;
 background-color: #5047B3;
 color: #82ACDB;
}

header {
 background-image: url("/assets/images/netflix_landingpage.jpg");
 background-size: cover;
 background-color: #5047B3;
 background-position: center center;
 font-family: "Crete Round", serif;
}

body {
 font-family: Quicksand, sans-serif;
 background-color: #5047B3;
 color: #82ACDB;
}
